<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: #B0B0B0">

<p id="notice"><%= notice %></p>

<table class="table table-hover my-class">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Birthdate</th>
    <th>Age</th>
    <th>Height</th>
    <th>Position</th>
    <th>Foot</th>
    <th>Club</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.dob %></td>
      <td><%= player.age %></td>
      <td><%= heightilize(player.height) %></td>
      <td><%= player.position %></td>
      <td><%= player.foot %></td>
      <td><%= player.current_club %></td>
      <td><%= link_to 'Show', player %></td>
      <td><%= link_to 'Edit', edit_player_path(player) %></td>
      <td><%= link_to 'Delete', player_path(player), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Create Player', new_player_path, class: "btn btn-success btn-sm ml-5" %>




</body>
</html>
